$font_family :'Archivo', sans-serif;
$primary_color:#474F7A;
$secondary_color:#81689D;
$third_color:#BDCDD6;

$main_text_color:#1F2544;
$light_text_color:#BB9CC0;
$background_color:#f9f7f1;

$spacer:8px;
